<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlitedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".doanhthu.UpdateThuActivity"></activity>
        <activity android:name=".doanhchi.ThemChiActivity" />
        <activity android:name=".doanhchi.ListChiActivity" />
        <activity android:name=".doanhthu.ThemThuActivity" />
        <activity android:name=".doanhthu.ListThuActivity" />
        <activity android:name=".thu.activity.ThemKThuActivity" />
        <activity android:name=".thu.ThuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>